@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

    :root{
        --c1: #35794B;
        --c2: #234214;
        --c3: #A6CE95;
        --c4: #BAD9AD;
        --c5: #E0EFDD;
    }

    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: var(--c1);
    }

    body{
    width: 100vw;
    height: 100vh;
    }
    html{
        font-family: Arial, Helvetica, sans-serif;
    }
    header{
        width: 100vw;
        height: 5vh;
        display: flex;
        justify-content: space-between;
    }

    .definicoes{
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 3px;
    }
    .definicoes:hover{
        border-radius: 50%;
        background-color: var(--c4);
    }

    main{
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    main > .formulario{
        width: 320px;
        height: auto;
        border-radius: 10px;
        box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.427);
        display: flex;
        justify-content: center;
    }
    .formulario > form{
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.telefone, div.senha {
        width: 90%;
        display: flex;
        align-self: center;
        margin-top: 2px;
        margin-bottom: 2px;
        border-radius: 6px;
        padding: 2px;
        background-color: var(--c4);
    }
    div.telefone, div.senha{
        margin-bottom: 4px;
    }
    
    div.enviar{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    div.telefone{
        margin-top: 7%;
    }
    label{
        font-size: 1.5vh;
    }
    input[type = 'tel'], input[type = 'password']{
        width: 100%;
        padding: 7px;
        border: 1px solid var(--c3);
        border-radius: 6px;
        outline-color: var(--c1);
    }
    
    input[type = 'submit']{
        margin-top: 7%;
        margin-bottom: 7%;
        padding: 7px;
        border: none;
        background-color: #35794B;
        color: white;
        border-radius: 3px;
        width: 100px;
        cursor: pointer;
    }

    .criar_conta{
        margin-top: 10%;
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    hr{
        width: 80%;
        height: 1px;
    }
    a.criar{
        margin-top: 5%;
        text-decoration: none;
        color: white;
        background-color: var(--c1);
        padding: 1%;
        border-radius: 3px;
    }

    footer{
        position: relative;
        height: 15vh;
        width: 100vw;
        background-color: lightgray;
    }

    .todas_definicoes{
        position: absolute;
        top: 10px;
        left: 65vw;
        width: 150px;
        height: 100px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.427);
        display: none;
     }
     .todas_definicoes > div{
        padding: 4px;
     }
     .todas_definicoes > div:hover{
        background-color: var(--c4);
     }
     .todas_definicoes > div > a{
        color: black;
     }
     .retirar_def{
        width: 100vw;
        height: 100vh;
     }

/*
CONFIGURACAO PARA MOSTRAR OS IDIOMAS NA TELA
*/
.ofuscar_tela{
    position: absolute;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.381);
    z-index: 2;
    display: none;
}
.idiomas_desponiveis{
    width: 80%;
    border-radius: 10px;
    height: 40%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 3;
    display: none;
}
button.idioma{
    border: none;
    background-color: white;

}


.fechar_aba{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    
}
.fechar_aba > button{
    background-color: white;
    text-align: center;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.fechar_aba > button:hover{
    background-color: var(--c4);
    border-radius: 100%;
}
.paragrafo_idiomas > p{
   padding: 4px;
}
.paragrafo_idiomas > p:hover{
   background-color: var(--c4);
}
/*
ESTAS CONFIRACOES TERMINAM AQUI

*/